.Normal {
    background: #8a8a59;
    background-image: -webkit-linear-gradient(#a8a878, #8a8a59);
    background-image: -moz-linear-gradient(#a8a878, #8a8a59);
    background-image: -o-linear-gradient(#a8a878, #8a8a59);
    background-image: linear-gradient(#a8a878, #8a8a59);
    border-color: #79794e;
    border-radius: 2px;
    color: white;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 1px;
    padding: 3px 0;
    text-align: center;
    text-shadow: rgb(51, 51, 51) 1px 1px 1px;
    width: 54px;
}

.Fire {
    background: #f08030;
    background-image: -webkit-linear-gradient(#f08030, #dd6610);
    background-image: -moz-linear-gradient(#f08030, #dd6610);
    background-image: -o-linear-gradient(#f08030, #dd6610);
    background-image: linear-gradient(#f08030, #dd6610);
    border-color: #b4530d;
    border-radius: 2px;
    color: white;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 1px;
    padding: 3px 0;
    text-align: center;
    text-shadow: rgb(51, 51, 51) 1px 1px 1px;
    width: 54px;
}

.Water {
    background: #6890f0;
    background-image: -webkit-linear-gradient(#6890f0, #386ceb);
    background-image: -moz-linear-gradient(#6890f0, #386ceb);
    background-image: -o-linear-gradient(#6890f0, #386ceb);
    background-image: linear-gradient(#6890f0, #386ceb);
    border-color: #1753e3;
    border-radius: 2px;
    color: white;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 1px;
    padding: 3px 0;
    text-align: center;
    text-shadow: rgb(51, 51, 51) 1px 1px 1px;
    width: 54px;
}

.Electric {
    background: #f8d030;
    background-image: -webkit-linear-gradient(#f8d030, #f0c108);
    background-image: -moz-linear-gradient(#f8d030, #f0c108);
    background-image: -o-linear-gradient(#f8d030, #f0c108);
    background-image: linear-gradient(#f8d030, #f0c108);
    border-color: #c19b07;
    border-radius: 2px;
    color: white;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 1px;
    padding: 3px 0;
    text-align: center;
    text-shadow: rgb(51, 51, 51) 1px 1px 1px;
    width: 54px;
}

.Grass {
    background: #78c850;
    background-image: -webkit-linear-gradient(#78c850, #5ca935);
    background-image: -moz-linear-gradient(#78c850, #5ca935);
    background-image: -o-linear-gradient(#78c850, #5ca935);
    background-image: linear-gradient(#78c850, #5ca935);
    border-color: #4a892b;
    border-radius: 2px;
    color: white;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 1px;
    padding: 3px 0;
    text-align: center;
    text-shadow: rgb(51, 51, 51) 1px 1px 1px;
    width: 54px;
}

.Ice {
    background: #98d8d8;
    background-image: -webkit-linear-gradient(#98d8d8, #69c6c6);
    background-image: -moz-linear-gradient(#98d8d8, #69c6c6);
    background-image: -o-linear-gradient(#98d8d8, #69c6c6);
    background-image: linear-gradient(#98d8d8, #69c6c6);
    border-color: #45b6b6;
    border-radius: 2px;
    color: white;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 1px;
    padding: 3px 0;
    text-align: center;
    text-shadow: rgb(51, 51, 51) 1px 1px 1px;
    width: 54px;
}

.Fighting {
    background: #c03028;
    background-image: -webkit-linear-gradient(#c03028, #9d2721);
    background-image: -moz-linear-gradient(#c03028, #9d2721);
    background-image: -o-linear-gradient(#c03028, #9d2721);
    background-image: linear-gradient(#c03028, #9d2721);
    border-color: #82211b;
    border-radius: 2px;
    color: white;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 1px;
    padding: 3px 0;
    text-align: center;
    text-shadow: rgb(51, 51, 51) 1px 1px 1px;
    width: 54px;
}

.Poison {
    background: #a040a0;
    background-image: -webkit-linear-gradient(#a040a0, #803380);
    background-image: -moz-linear-gradient(#a040a0, #803380);
    background-image: -o-linear-gradient(#a040a0, #803380);
    background-image: linear-gradient(#a040a0, #803380);
    border-color: #662966;
    border-radius: 2px;
    color: white;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 1px;
    padding: 3px 0;
    text-align: center;
    text-shadow: rgb(51, 51, 51) 1px 1px 1px;
    width: 54px;
}

.Ground {
    background: #e0c068;
    background-image: -webkit-linear-gradient(#e0c068, #d4a82f);
    background-image: -moz-linear-gradient(#e0c068, #d4a82f);
    background-image: -o-linear-gradient(#e0c068, #d4a82f);
    background-image: linear-gradient(#e0c068, #d4a82f);
    border-color: #aa8623;
    border-radius: 2px;
    color: white;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 1px;
    padding: 3px 0;
    text-align: center;
    text-shadow: rgb(51, 51, 51) 1px 1px 1px;
    width: 54px;
}

.Flying {
    background: #a890f0;
    background-image: -webkit-linear-gradient(#a890f0, #9180c4);
    background-image: -moz-linear-gradient(#a890f0, #9180c4);
    background-image: -o-linear-gradient(#a890f0, #9180c4);
    background-image: linear-gradient(#a890f0, #9180c4);
    border-color: #7762b6;
    border-radius: 2px;
    color: white;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 1px;
    padding: 3px 0;
    text-align: center;
    text-shadow: rgb(51, 51, 51) 1px 1px 1px;
    width: 54px;
}

.Psychic {
    background: #f85888;
    background-image: -webkit-linear-gradient(#f85888, #f61c5d);
    background-image: -moz-linear-gradient(#f85888, #f61c5d);
    background-image: -o-linear-gradient(#f85888, #f61c5d);
    background-image: linear-gradient(#f85888, #f61c5d);
    border-color: #d60945;
    border-radius: 2px;
    color: white;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 1px;
    padding: 3px 0;
    text-align: center;
    text-shadow: rgb(51, 51, 51) 1px 1px 1px;
    width: 54px;
}

.Bug {
    background: #a8b820;
    background-image: -webkit-linear-gradient(#a8b820, #8d9a1b);
    background-image: -moz-linear-gradient(#a8b820, #8d9a1b);
    background-image: -o-linear-gradient(#a8b820, #8d9a1b);
    background-image: linear-gradient(#a8b820, #8d9a1b);
    border-color: #616b13;
    border-radius: 2px;
    color: white;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 1px;
    padding: 3px 0;
    text-align: center;
    text-shadow: rgb(51, 51, 51) 1px 1px 1px;
    width: 54px;
}

.Rock {
    background: #b8a038;
    background-image: -webkit-linear-gradient(#b8a038, #93802d);
    background-image: -moz-linear-gradient(#b8a038, #93802d);
    background-image: -o-linear-gradient(#b8a038, #93802d);
    background-image: linear-gradient(#b8a038, #93802d);
    border-color: #746523;
    border-radius: 2px;
    color: white;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 1px;
    padding: 3px 0;
    text-align: center;
    text-shadow: rgb(51, 51, 51) 1px 1px 1px;
    width: 54px;
}

.Ghost {
    background: #705898;
    background-image: -webkit-linear-gradient(#705898, #554374);
    background-image: -moz-linear-gradient(#705898, #554374);
    background-image: -o-linear-gradient(#705898, #554374);
    background-image: linear-gradient(#705898, #554374);
    border-color: #413359;
    border-radius: 2px;
    color: white;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 1px;
    padding: 3px 0;
    text-align: center;
    text-shadow: rgb(51, 51, 51) 1px 1px 1px;
    width: 54px;
}

.Dragon {
    background: #7038f8;
    background-image: -webkit-linear-gradient(#7038f8, #4c08ef);
    background-image: -moz-linear-gradient(#7038f8, #4c08ef);
    background-image: -o-linear-gradient(#7038f8, #4c08ef);
    background-image: linear-gradient(#7038f8, #4c08ef);
    border-color: #3d07c0;
    border-radius: 2px;
    color: white;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 1px;
    padding: 3px 0;
    text-align: center;
    text-shadow: rgb(51, 51, 51) 1px 1px 1px;
    width: 54px;
}

.Steel {
    background: #b8b8d0;
    background-image: -webkit-linear-gradient(#b8b8d0, #9797ba);
    background-image: -moz-linear-gradient(#b8b8d0, #9797ba);
    background-image: -o-linear-gradient(#b8b8d0, #9797ba);
    background-image: linear-gradient(#b8b8d0, #9797ba);
    border-color: #7a7aa7;
    border-radius: 2px;
    color: white;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 1px;
    padding: 3px 0;
    text-align: center;
    text-shadow: rgb(51, 51, 51) 1px 1px 1px;
    width: 54px;
}

.Dark {
    background: #705848;
    background-image: -webkit-linear-gradient(#705848, #513f34);
    background-image: -moz-linear-gradient(#705848, #513f34);
    background-image: -o-linear-gradient(#705848, #513f34);
    background-image: linear-gradient(#705848, #513f34);
    border-color: #362a23;
    border-radius: 2px;
    color: white;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 1px;
    padding: 3px 0;
    text-align: center;
    text-shadow: rgb(51, 51, 51) 1px 1px 1px;
    width: 54px;
}

.Fairy {
    background: #e898e8;
    background-image: -webkit-linear-gradient(#e898e8, #de6ede);
    background-image: -moz-linear-gradient(#e898e8, #de6ede);
    background-image: -o-linear-gradient(#e898e8, #de6ede);
    background-image: linear-gradient(#e898e8, #de6ede);
    border-color: #d547d5;
    border-radius: 2px;
    color: white;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 1px;
    padding: 3px 0;
    text-align: center;
    text-shadow: rgb(51, 51, 51) 1px 1px 1px;
    width: 54px;
}

.Curse {
    background: #68a090;
    background-image: -webkit-linear-gradient(#68a090, #4e7c6f);
    background-image: -moz-linear-gradient(#68a090, #4e7c6f);
    background-image: -o-linear-gradient(#68a090, #4e7c6f);
    background-image: linear-gradient(#68a090, #4e7c6f);
    border-color: #41685d;
    border-radius: 2px;
    color: white;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 1px;
    padding: 3px 0;
    text-align: center;
    text-shadow: rgb(51, 51, 51) 1px 1px 1px;
    width: 54px;
}